{% extends '@ibexadesign/pagelayout.html.twig' %}

{% block title ibexa_content_name(content) ~ ' - ' ~ parent() %}

{% set menu_active = 'about' %}

{% block content %}
    <div class="container">
        {{ ibexa_render_field(content, 'body') }}
    </div>
{% endblock %}
